<div class="chat-container">

  <% if @chat.messages.empty? %>
    <div class="chat-empty">
      <h1>Décris ce que tu cherches</h1>
    </div>
  <% end %>

  <div class="chat-messages">
    <% @chat.messages.order(:created_at).each do |message| %>

      <div class="message <%= message.role %>">
        <div class="message-bubble">
        <strong><%= message.role == "user" ? "Vous" : "Assistant" %></strong>

        <% if message.content.include?("ID_ITINERARY:") %>
          <% itinerary_id = message.content.match(/ID_ITINERARY:(\d+)/)&.captures&.first %>
          <p>Votre itinéraire a été créé avec succès !</p>
          <%= link_to "Voir les détails et les événements", "/itineraries/#{itinerary_id}", class: "btn btn-primary mt-2" %>
        <% else %>
          <p><%= message.content %></p>
        <% end %>
        </div>
      </div>

    <% end %>
  </div>

</div>

<div class="chat-input">
  <%= form_with model: [@chat, Message.new], class: "chat-form" do |f| %>

    <%= f.text_field :content,
      placeholder: "Poser une question",
      class: "chat-text-input",
      autocomplete: "off" %>

    <%= f.submit "Envoyer", class: "send-button" %>

  <% end %>
</div>
